<div class="mdl-layout__header-row">
	<!-- Title -->
	<span class="mdl-layout-title">Tweets Query</span>
	<!-- Add spacer, to align navigation to the right -->
	<div class="mdl-layout-spacer"></div>

	<!-- Navigation. We hide it in small screens. -->
	<button id="demo-menu-lower-right" class="mdl-button mdl-js-button">
		Query
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
		<li class="mdl-menu__item">Query By Name</li>
		<li class="mdl-menu__item">Region Query</li>
		<li class="mdl-menu__item">Disabled Action</li>
		<li class="mdl-menu__item">Yet Another Action</li>
	</ul>
</div>
